mat-card {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: 20px auto 0 auto;
  }
  
mat-form-field {
      width: 100%;
      margin-bottom: 2px;
}

.server-error {
    margin: 8px 0;;
}


// input {    
//     height: 2em;              
//     div.mat-form-field-infix {
//       padding: .3em 0;
//       input.mat-input-element {
//         vertical-align: top;
//       }
//     }
//   }
// div.mat-form-field-wrapper{
//     padding-bottom: 1.15em;
// }

:host {
    text-align: center;
}


.profile-details{
    text-align: start;
    margin-bottom: 20px;
}

.profile-field{
    display: flex;
    flex-direction: row;
    padding: 10px;

    &:not(:last-child){
        border-bottom: 1px solid lightgray;
    }

    .key{
        flex-basis: 35%;
        font-weight: 500;
        color: #3f51b5;
    }

    .value{
        color: #616161;
    }
}

.m-20{
    margin-left: 20px;
}