<h2 mat-dialog-title *ngIf="isProfile">Update profile details</h2>
<h2 mat-dialog-title *ngIf="isPassword">Change password</h2>
<mat-dialog-content>
    <form [formGroup]="updateForm">
        <div *ngIf="isProfile">
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input [value]="data.firstName" matInput type="text" placeholder="John" required
                    formControlName="firstName">
                <mat-error *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                    First name is required
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Second Name</mat-label>
                <input matInput type="text" placeholder="Jack" required formControlName="secondName">
                <mat-error *ngIf="secondName.invalid && (secondName.dirty || secondName.touched)">
                    Second name is a required field
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="john@gmail.com" type="email" required formControlName="email">
                <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
                    You must enter a valid email address
                </mat-error>
            </mat-form-field>
        </div>
        <div *ngIf="isPassword" (click)="$event.preventDefault()">
            <mat-form-field appearance="outline">
                <mat-label>Current Password</mat-label>
                <input formControlName="oldPassword" matInput [type]="hide ? 'password' : 'text'" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)">
                    Password must be at least 8 characters long
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>New Password</mat-label>
                <input formControlName="newPassword" matInput [type]="hide1 ? 'password' : 'text'" required>
                <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide1">
                    <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
                    Password must be at least 8 characters long
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Confirm New Password</mat-label>
                <input formControlName="confirmNewPassword" matInput [type]="hide2 ? 'password' : 'text'" required>
                <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide2">
                    <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error
                    *ngIf="confirmNewPassword.invalid && (confirmNewPassword.dirty || confirmNewPassword.touched)">
                    Password must be at least 8 characters long
                </mat-error>
            </mat-form-field>
        </div>
        <mat-error class="server-error">
            <p>{{serverError}}</p>
        </mat-error>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button [disabled]="isFormValid()" (click)="saveProfile()" mat-raised-button color="primary">Save</button>
    <button mat-button mat-dialog-close color="primary">Close</button>
</mat-dialog-actions>